.text-subtitulo{
    color: var(--main-rojo);
    margin: .5em 0;
    font-weight: 700;
    font-size: 2.3em;
}

@media (min-width: 768px) {
    .text-subtitulo{
        font-size: 2.8em;
    }
}

@media (min-width: 1024px) {
    .text-subtitulo{
        font-size: 3.5em;
    }
}